.main-build {
  background-image: url(https://media.cdn-jaguarlandrover.com/api/v2/images/71609/w/1600.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 100%;
}
